<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h4>clarkTech Apply</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="containter mt-4">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="avatar-ctn">
                        <img src="/images/avatar.png" class="avatar" alt="profile pic">
                    </div>
                    <div class = "card-body">
                        <h5 class="card-title">{{user.name}}</h5>
                        <p class="card-text">random random random random random random random random random random random random</p>
                        <a href="#" class="btn btn-primary">{{user.email}}</a>
                    </div>
                </div>
        </div>
        
        <div class="col-8">
            <div class="car text-center">
                <div class="card-header">
                    Profile Page
                </div>
                <div class = "card-body">
                    <h5 class="card-title">Hey {{user.name}}, Welcome Back</h5>
                    <p class="card-text">This is your profile page where you can add all the information about yourself</p>
                    <a href="#" class = "btn btn-primary"> Go Somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    Clark Tech Apply 
                </div>
            </div>
        </div>
    </div>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</body>
</html>