<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Tips -clarkTech Apply</title>
</head>
<body>
    <nav id="a">
        <h4>clarkTech Apply</h4>
        <ul>
           
            {{#if user}}
                <li><a href="/">Home</a></li>
                 <li><a href="/tips">Tips</a></li>
                <li><a href="/myapps">MyApps</a></li>
                <li><a href="/internships">Internships</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            {{/if}}
           
        </ul>
    </nav>
    
    <div class="row">
    <div class="col col-md-4">
            <div class="car text-center">
                <div class="card-header">
                    Tips
                </div>
                <div class = "card-body">
                    <h5 class="card-title">Increasing Your Chances</h5>
                    <p class="card-text">From experience and working with Clark CS students to find summer internships, the students who get internships
                        average at least 100 applications per recruiting season.
                    </p>
                     <p class="card-text">However, expect next steps from only 10-20% of the places you apply to. 
                    </p>
                    <p>
                        <img src="/images/rejections.png" style="width: 400px; height: 600px"  class="img">
                    </p>
                    <a href="#" class = "btn btn-primary"> Go Somewhere</a>
                </div>
               
            </div>
        </div>
        <div class="col col-md-8">
            <div class="car text-center">
                <div class="card-header">
                    Before You Start Applying
                </div>
                <div class = "card-body">
                    <h5 class="card-title">Start Here!</h5>
                    <small>These tasks will take some time, but the value is immeasurable</small>
                   
            <div class="card">
            <div class="card-header"  style="background-color: #33B7FF;">
                Preparing a Tech Resume
                </div>
                <div class="card-body">
                    <p class="card-text">Recruiters will look at a Resume for an average of 6 seconds before deciding whether to move you to a first interview or not. So it's gotta be good</p>
                    <a href="https://zoom.us/rec/share/-_14FbT_7TJIRKvC50z7Xb4RH6mmT6a8gHIXrqEEyk-tBSQT7ghUd8bRW_z1u-L6" target="_blank" class="btn btn-primary">Tech Recruiters on Resume Do's and Don'ts</a>
                    <p class = "card-text"> <small>Passcode: 6w$Y7wgA</small> </p>
                    <h4 class="card-title"> Sample Resumes:</h5>
                    <div class="parent-container d-flex">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h5 class="title">Early-College</h5>
                                <a href="https://drive.google.com/file/d/1Skdy5w65L6ax4Bknfjh5WyN1stLb2DwM/view?usp=sharing" target="_blank" class="btn btn-primary">Preview</a>
                                <a href="\docs\Early Resume Sample.docx"  target="_blank" class="btn btn-primary">Download as Doc and edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h5 class="title">More Experience</h5>
                                <a href="https://drive.google.com/file/d/1HvWnCS97b0hQDpHoOQIlyFAuzmOwKOYx/view?usp=sharing" target="_blank" class="btn btn-primary">Preview</a>
                                <a href="\docs\MoreExperienceTemplate.docx"  target="_blank" class="btn btn-primary">Download as Doc and edit</a>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>

                              <div class="card">
            <div class="card-header"  style="background-color: #33B7FF;">
                Build Your LinkedIn
                </div>
                <div class="card-body">
                    <p class="card-text">It should effectively be your Resume + anything else you didn't fit on it</p>
                    <p class = "card-text">Connect with classmates, <a href="https://www.linkedin.com/in/evan-hoffman" target="_blank">myself</a>, other clark CS students, etc</p>
                    <p class="card-text">Your LinkedIn can come in handy if you wish to reach out to recruiters (see left-hand panel for tips!)</p>
                    </div>
                    </div>
                              <div class="card">
                
 
        </div>
    </div>
    
    </div>
        </div>
</div>
</div>
</div>
  
</body>

<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    
    <a class="text-dark">Built by Evan Hurst Hoffman, Clark'21
        <p>
            <a href= "https://www.linkedin.com/in/evan-hoffman/" target="_blank">
            <img src="/images/linkedinIcon.png" style="width: 25px; height: 25px"  class="img-thumbnail">
        </p>
        <a href= "https://github.com/Evan-Hoffman/Clark-Tech-Apply" target="_blank" role = "button">Code</a>
    </a>
  </div>
</footer>
</html>