<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Tips -clarkTech Apply</title>
</head>
<body>
    <nav id="a">
        <h4>clarkTech Apply</h4>
        <ul>
           
            {{#if user}}
                <li><a href="/">Home</a></li>
                 <li><a href="/tips">Tips</a></li>
                <li><a href="/myapps">MyApps</a></li>
                <li><a href="/internships">Internships</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            {{/if}}
           
        </ul>
    </nav>

    <div class="col-12">
            <div class="car text-center">
                <div class="card-header">
                    Tips
                </div>
                <div class = "card-body">
                    <h5 class="card-title">Increasing Your Chances</h5>
                    <p class="card-text">From experience and working with Clark CS students to find summer internships, the students who get internships
                        average at least 100 applications per recruiting season.
                    </p>
                     <p class="card-text">However, expect next steps from only 10-20% of the places you apply to. 
                    </p>
                    <p>
                        <img src="/images/rejections.png" style="width: 800px; height: 600px"  class="img">
                    </p>
                    <a href="#" class = "btn btn-primary"> Go Somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    Clark Tech Apply 
                </div>
            </div>
        </div>

  
</body>
<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <a class="text-dark">Built by Evan Hurst Hoffman, Clark'21
    <p>
        <a href= "https://www.linkedin.com/in/evan-hoffman/" target="_blank">
        <img src="/images/linkedinIcon.png" style="width: 25px; height: 25px"  class="img-thumbnail">
        </p>
        <a href= "https://github.com/Evan-Hoffman/Clark-Tech-Apply" target="_blank" role = "button">Code</a>
    </a>
  </div>
</footer>
</html>