nav#a {
    background-color: #33B7FF;
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 4;
    padding: 5px 8px;
}

nav li a:hover{
    color: black;
    text-decoration: none;
}

.avatar-ctn {
    background-color: orange;
    text-align: center;
}

.avatar {
    width: 65%;
    border-bottom: 1px solid rgba(0,0,0,0,1.5);
}

.badge.badge-ux {
    background-color: rgb(105, 22, 112);
    color: white;

    
}

.badge.badge-web {
    background-color: rgb(151, 240, 156);
    
}

.badge.badge-backend {
    background-color: rgb(3, 70, 25);
    color: white;
}

.badge.badge-devops {
    background-color: rgb(85, 66, 52);
    color: white;
}

.badge.badge-networks {
    background-color: rgb(209, 52, 201);
    color: white;
}
.badge.badge-it {
    background-color: rgb(24, 4, 8);
    color: white;
}
.badge.badge-analytics {
    background-color: rgb(17, 29, 197);
    color: white;
}